@import "tailwindcss";

@font-face {
    font-family: "Inter";
    src: url(./assets/Font/Inter_28pt-Light.ttf);
    font-weight: 100;
}


@font-face {
    font-family: "Inter";
    src: url(./assets/Font/Inter_28pt-Regular.ttf);
    font-weight: normal;
}


@font-face {
    font-family: "Inter";
    src: url(./assets/Font/Inter_18pt-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Inter";
    src: url(./assets/Font/Inter_28pt-Bold.ttf);
    font-weight: bold;
}

@theme {
    --font-main: Inter, sans-serif;
    --color-secand: #6B7280;
}

/* لإزالة الهوامش والمساحات الافتراضية */

* {
    /* margin: 0;
    padding: 0; */
    font-family: "Inter", 'sans-serif';
    /* box-sizing: border-box; */
}